name: spell
on:
  push:
    branches:
    - main
    paths:
    - '**.md'
  pull_request:
    branches:
    - main

jobs:
  check:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Check Spelling
      uses: UnicornGlobal/spellcheck-github-actions@master
